*{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
}
input{
    border: none;
    border-bottom: 1px sold #e9ecef;
   padding: 20px ;
   font-size: 1.5em;
}
.btn-outline-info{
    color: #1ABC9C;
    --bs-btn-hover-bg: #1ABC9C;
    --bs-btn-border-color: #1ABC9C;
}
.btn-xl{
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}
.btn{
    font-weight: 400;
    border-radius: 0.5rem;
    cursor: pointer;
}
.form-contro{
    border-radius: unset;
    box-shadow: none;
}
