*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.start{
  margin: 1.25rem 0 1.5rem;
  font-size: 3rem ;
  font-weight: 500;
  color: white;
}
.line1{
  margin-left:1rem ;
  width: 100%;
  max-width: 7rem ;
  height: 0.25rem ;
  background-color: white;
  border-radius: 1rem ;
  ;
  
}
/* ------------Portfolio------------ */
.star{
  padding: 0px 10px ;
  color: white;
}
.line2{
  margin-right:1rem ;
  width: 100%;
  max-width: 7rem ;
  height: 0.25rem ;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem ;
}
.color-star{
  color: #2C3E50;
}
.color-line{
  background-color: #2C3E50;
}
